body { color:mediumvioletred;
	   font-size: 14pt;
	   font-family: "optima" }
	   
H1 { font-size: 200%;
     font-weight: bold;
     font-family: "georgia" }
     
H2 {font-size: 150%;
    font-family: "georgia" }

a {color: black;
a:hover {color: darkgray; }