body {background: gray;
	  color: navy;
	  font-size: 15pt;
	  font-family: "optima", serif; }
	  
H1 {font-size: 400%;
    font-family: "georgia", serif;
    font-weight: bold; }
    
H2 {font-size: 200%;
	font-family: "georgia", serif; }
	
a {color: white; }
a:hover {color: navy }
	  